.botondeenvio {
    margin-top: 50px;
    margin-left: 35%;
    
}
.email{
    margin-left: 21px;
}
.usuario{
    margin: 2.5px;
}
.facebook{
    color: rgb(5, 5, 204);
}
.Instagram{
    color:hsl(24, 98%, 51%);
}
.Twitter{
    color: rgb(69, 210, 245);
}
