<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/icon/logo bootcampAR.png" type="Imagen/png">
    <link rel="stylesheet" href="/assets/css/styles_main.css">
    <link rel="stylesheet" href="/assets/css/store.css"> 
    <link rel="stylesheet" href="/assets/css/general.css"> 
    <title>Tienda Bootcampar</title>
</head>
<body>
    <div class="fondo"> 
    </div>
    <!--barra navbar-->
    <!--barra navbar-->
    <div class="container">
        <div class="row bg_banner bg_img">
            <div class="col-7 txt_banner"><h1>NUESTROS PRODUCTOS</h1></div>
            <div class="col-sm-1"><button class="botontodo">Todo</button></div>
            <div class="col-1"><button class="boton">Bolsos</button></div>
            <div class="col-1"><button class="boton">Remeras</button></div>
            <div class="col-1"><button class="boton">Tazas</button></div>
            <div class="col-1"><img class="logo"><img src="/assets/img/Pagina de Tienda/imagenes - barra de categorias de productos/Icono de agregar a carrito.png" alt=""></button></div>
          </div>

          <div class="col-3 carta">    
           <div class="row">
             <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/gorra.png" class="gorra"></div>
           </div>
           <div class="row">
             <h4 class="titulocarta">Gorra BootcampAr</h5>
           </div>
           <div class="row">
             <h6 class="descripcioncarta">Gorra-vicera con logo <br></h6>
           </div>
           <div class="row">
             <div class="col txt_puntos"><p class="botonpuntos">1500 puntos</p></div>
             <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
             
           </div>
           <div class="row">
            <div class="col-3 txt_precio"><p class="botonprecio">$1.200</p></div>
            <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
           </div>
          </div>
          <div class="col-3 carta">    
            <div class="row">
              <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/buzo.png" class="gorra"></div>
            </div>
            <div class="row">
              <h4 class="titulocarta">Buzo BootcampAr</h5>
            </div>
            <div class="row">
              <h6 class="descripcioncarta">Buzo negro tipo canguro <br></h6>
            </div>
            <div class="row">
              <div class="col txt_puntos"><p class="botonpuntos">5000 puntos</p></div>
              <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
              
            </div>
            <div class="row">
             <div class="col-3 txt_precio"><p class="botonprecio">$5000</p></div>
             <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
            </div>
           </div>
           <div class="col-3 carta">    
            <div class="row">
              <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/bolso.png" class="gorra"></div>
            </div>
            <div class="row">
              <h4 class="titulocarta">Bolso BootcampAr</h5>
            </div>
            <div class="row">
              <h6 class="descripcioncarta">Bolso eoclogico bage<br></h6>
            </div>
            <div class="row">
              <div class="col txt_puntos"><p class="botonpuntos">700 puntos</p></div>
              <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
              
            </div>
            <div class="row">
             <div class="col-3 txt_precio"><p class="botonprecio">$800</p></div>
             <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
            </div>
           </div>
           <div class="col-3 carta">    
            <div class="row">
              <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/remera.png" class="gorra"></div>
            </div>
            <div class="row">
              <h4 class="titulocarta">Remera BootcampAr</h5>
            </div>
            <div class="row">
              <h6 class="descripcioncarta">Remera negra con logo<br></h6>
            </div>
            <div class="row">
              <div class="col txt_puntos"><p class="botonpuntos">2500 puntos</p></div>
              <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
              
            </div>
            <div class="row">
             <div class="col-3 txt_precio"><p class="botonprecio">$2000</p></div>
             <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
            </div>
           </div>
           <div class="col-3 carta">    
            <div class="row">
              <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/taza.png" class="gorra"></div>
            </div>
            <div class="row">
              <h4 class="titulocarta">Taza BootcampAr</h5>
            </div>
            <div class="row">
              <h6 class="descripcioncarta">Taza con logo solo<br></h6>
            </div>
            <div class="row">
              <div class="col txt_puntos"><p class="botonpuntos">1500 puntos</p></div>
              <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
              
            </div>
            <div class="row">
             <div class="col-3 txt_precio"><p class="botonprecio">$700</p></div>
             <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
            </div>
           </div>
           <div class="col-3 carta">    
            <div class="row">
              <div class="col-4"><img src="/assets/img/paginadetienda/imgproductos/tazalogocompleto.png" class="gorra"></div>
            </div>
            <div class="row">
              <h4 class="titulocarta">Taza XL BootcampAr</h5>
            </div>
            <div class="row">
              <h6 class="descripcioncarta">Taza grande con logo completo<br></h6>
            </div>
            <div class="row">
              <div class="col txt_puntos"><p class="botonpuntos">1700 puntos</p></div>
              <div class="col txt_canjear"><p class="botoncanjear">Canjear puntos</p></div>
              
            </div>
            <div class="row">
             <div class="col-3 txt_precio"><p class="botonprecio">$900</p></div>
             <div class="col txt_buttoncarrito"><button class="agregaracarrito">Agregar a Carrito</button></div>
            </div>
           </div>
                     
    </div>
     
    </div>
    <div class="container"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>