.ayuda button{
    margin-top: 10px;
    background-color: rgb(133, 69, 201);
    color: white;
    border: none;
    box-shadow: rgb(133, 69, 201);
}

.ayuda button:hover{
    background-color: rgba(102, 51, 153, 0.432);
}

