.background-image{
    background-image: url("./Imagenes/fondo_pagina.png");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
}
.bg-initial {
    background-color: #9e95e9!important;
}
body{
    background-image: url("./Imagenes/fondo_pagina.png"); 
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
}