/* selectores principales - generales */
body {
    font-size: 0.875rem;
    background-color: aqua;
}


/* ********************* */
/* PAGINA INDEX */
/* Header */

/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */




/* ********************* */
/* PAGINA LOGIN */

body.login{
    background-color: blue;
}

/* Header */

/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */