<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/icon/logo bootcampAR.png" type="Imagen/png">
    <link rel="stylesheet" href="/assets/css/styles_main.css">
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/homeexperienciadeus.css">
    <title>Home BootcampAr</title>
</head>
<body>
    
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 video p-4">
                                <iframe class="video" width="100%" height="316" src="https://www.youtube.com/embed/j40akBlwFoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-8 h-100">
                                <div class="row d-flex flex-column justify-content-start">
                                    <div class="col txt_titulo">Experiencias de nuestros usuarios</div>
                                    <div class="col">
                                        <div class="row p-3">
                                            <div class="col-1"><button class="button"><svg class="texticon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                                                </svg></button></div>
                                            <div class="col border-light border p-2 me-2 txt_carta"><p class="titulo">Mariano Garcia<br><span class="parrafo">"Realice el curso de Frontend y fue una experiencia muy positiva ya que pude adentrarme en un area muy ajena a mi profesion."</span></p></div>
                                            <div class="col border-light border p-2 ms-2 me-2 txt_carta"><p class="titulo">Lautaro Ruiz<br><span class="parrafo">"Muchos cursos de los cuales salia mareado. en este curso pude tener una curva de aprendizaje mas armonioza. Lo super recomiendo!"</span></p></div>
                                            <div class="col border-light border p-2 ms-2 txt_carta"><p class="titulo">Antonella Perez<br><span class="parrafo">"Desde que llegue a bootcampar adquiri a programar varios lenguajes con fluidez. Ahora soy una apasionada del desarrollo web.</span></p></div>
                                            <div class="col-1"><button class="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                              </svg></button></div>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
        
                        </div>
        
                    </div>
        
                </div>
        
        
        
            </div>

        </div>
    </div>


</body>
</html>