.container{
    background: #599dd9;
    width: 250px;
    margin: 20px auto;
    height: 1000px;
    display: grid;
    border-radius: 8%;
    margin: 60px;
    border-radius: 30px;
    align-items: center;
    }
    .bg_img{
        background-image: url(/assets/img/Pagina_de_Login/imagenes_barra_de_LOGIN/fondo\ de\ barra\ de\ titulo\ LOGIN.png);
    }

    .videodamian{
        width: 90%;
        height: 70%;
        padding:70px 3% 30px;
    }