/* selectores principales - generales */
body {
<<<<<<< HEAD
    font-size: 0.875rem;
<<<<<<< HEAD
}

=======
=======
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
>>>>>>> a12135819b80b9f07236ce363efede4a87260aa3
=======

>>>>>>> 9f68d7d5e917fca9859d934689d264edacebbafe
    background-color: #7C8A9D;
}

.mainPer{
    background: url(../img/fondodepagina.png) no-repeat center center; 
    background-size: cover;
     overflow: hidden;
}
>>>>>>> 667e254ce391086647a3bfa269d69d91e3d20005

/* ********************* */
/* PAGINA INDEX */
/* Header */
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */




/* ********************* */
/* PAGINA LOGIN */

body.login{
 /*  */
}

/* Header */
<<<<<<< HEAD
>>>>>>> dev
.container-fluid{
    
}
.rowPers {
    height: 150px;
}
=======


>>>>>>> 193c1f86dc44c3fdbbf6d8ec306ad5e454727383

.imglogo{
    height: 50px;
    width: 340px;
    padding-left: 20px;
}
/* nav */
.serachBar{
    width: 100%;
    max-width: 400px;
    display: inline-flex;
}
.serachBar_input{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 2px solid #fff;
    border-right: 0px;
    border-radius: 20px 0 0 20px;
    background: #9eadc0;
    transition: background 0.25s, box-shadow 0.25s;
}
.serachBar_input:focus{
    background: #c9def7;
    box-shadow: 0 0 2px #478ce0 ;
}
.serachBar_input::placeholder{
    color: #08172a;
    padding-left: 6px;
    font-size: 12pt;
}
.serachBar_button{
    width: 40px;
    background: #9eadc0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-left: 0px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.serachBar_button svg{
    color: #fff;
} 
.imgPer{
    height: 35px;
    width: 35px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.arfigcaption  figure figcaption{
    font-weight: 300;
<<<<<<< HEAD

>>>>>>> d3421ced6ffa4d54a36d9406b1f3616880f96e55
.row.align-self-end div{

=======
>>>>>>> a12135819b80b9f07236ce363efede4a87260aa3
}
>>>>>>> 667e254ce391086647a3bfa269d69d91e3d20005
=======
=======
>>>>>>> Matías-Nieto
>>>>>>> dev

 .arfigcaption figure figcaption { 
    transition: all 0.25s;
  }


<<<<<<< HEAD


/* ********************* */
/* PAGINA LOGIN */

body.login{
 /*  */
}

<<<<<<< HEAD
/* Header */

=======
>>>>>>> 667e254ce391086647a3bfa269d69d91e3d20005
/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */
=======
 .icoNosotros:hover{
    display:block;
    transition: all 0.25s;
  }
<<<<<<< HEAD
>>>>>>> d3421ced6ffa4d54a36d9406b1f3616880f96e55
=======

.row-fondo {
    background-color: rgba(89, 157, 217,0.7);
    border-radius: 20px;
    height: 250px;
}

.text-boot{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
}

.row-fondo-pre {
    background-color: rgba(89, 157, 217,0.7);
    border-radius: 20px;
    background-size: auto;
     overflow: hidden;
}
>>>>>>> a12135819b80b9f07236ce363efede4a87260aa3
