/* selectores principales - generales */
body {
    font-size: 0.875rem;
    background-color: #7C8A9D;
}

.mainPer{
    background: url(/assets/img/bgsite.png) no-repeat center center; 

    background-size: auto;
     overflow: hidden;

}
body {
    
    font-size: 0.875rem;
    color: white;
    background-image: url(/assets/img/bgsite.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.txt_banner{
    font-family: 'Poppins', sans-serif;
}

.txt_parrafo{
    font-family: 'Montserrat', sans-serif;
}

.txt_subtitulo{
    font-family: 'Poppins', sans-serif;
}
.boton_compra_cursos{
    text-align: center;
    height: 50px;
    color: aliceblue;
    background-color: #455973;
    border: none;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
}
.boton_compra_cursos:hover{
    background-color: #455973a8;
}
.boton_tienda{
    text-align: center;
    height: 35px;
    color: aliceblue;
    background-color: #455973;
    border: none;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
}
.boton_tienda:hover{
    background-color: #455973a8;
}

/* ********************* */
/* PAGINA INDEX */
/* Header */
.container-fluid{
    
}
.rowPers {
    height: 150px;
}

.imglogo{
    height: 50px;
    width: 340px;
    padding-left: 20px;
}
/* nav */
.serachBar{
    width: 100%;
    max-width: 400px;
    display: inline-flex;
}
.serachBar_input{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 2px solid #fff;
    border-right: 0px;
    border-radius: 20px 0 0 20px;
    background: #9eadc0;
    transition: background 0.25s, box-shadow 0.25s;
}
.serachBar_input:focus{
    background: #c9def7;
    box-shadow: 0 0 2px #478ce0 ;
}
.serachBar_input::placeholder{
    color: #08172a;
    padding-left: 6px;
    font-size: 12pt;
}
.serachBar_button{
    width: 40px;
    background: #9eadc0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-left: 0px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.serachBar_button svg{
    color: #fff;
}
.imgPer{
    height: 35px;
    width: 35px;
}

.row.align-self-end div{

}

/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */




/* ********************* */
/* PAGINA LOGIN */

body.login{
 /*  */
}

/* nav */

/* main */

/* section */

/* articles */

/* footer */
/* **************** */