<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox</title>
    <link rel="stylesheet" href="/assets/css/cursos.css">
</head>

<body>
 <div class="container bg_img">
    <div class="row"><div class="col">h1 Frontend Básico</div>
    <div class="col"><img src="/assets/img/Pagina de Curso/imagenes - banner de titulo/mapa de avance.png""></div></div>
 </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button>HTML</button>
                <button>CSS</button>
                <button>JS</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            <iframe  src="https://www.youtube.com/embed/as1opL254NA" title="Lógica de Programación 👩‍💻 Aprende a programar en 10 minutos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videodamian"></iframe>
            <p>Capítulo 1 Introducción</p>
            <hr>
            <iframe  src="https://www.youtube.com/embed/as1opL254NA" title="Lógica de Programación 👩‍💻 Aprende a programar en 10 minutos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videodamian"></iframe>
            <p>Capítulo 2 Estructura básica</p>
            <hr>
            <iframe  src="https://www.youtube.com/embed/as1opL254NA" title="Lógica de Programación 👩‍💻 Aprende a programar en 10 minutos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videodamian"></iframe>
            <p> Elementos y etiquetas HTML</p>
            <hr>
            </div>
        </div>
     </div>

</body>
</html>