<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png" type="Imagen/png">
  <link rel="stylesheet" href="styles_main.css">
  <link rel="stylesheet" href="registro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
  <title>BootcampAR</title>

</head>

<body>


<aside class="cuerpo" >    

<aside>

    <aside>
        <div class="cuenta">

            <img  class="fondo_registro" src="assets/img/registro/fondo_arboles.png" alt="paisaje arboles">
        
        </div>

        <div>
            <p class="text_registro">CREÁ UNA CUENTA</p>
        </div>

        <div class="tilde_caja">

            <img  class="tilde" src="assets/img/registro/icono_tilde.png" alt="tilde">

        </div>
    </aside>

    <aside class="caja_fecha">

        <div class="fecha_nac" >

        <div class="calendar" >
        <img  class="calendario" src="assets/img/registro/icono_calendario.png" alt="calendario">
        </div>
        
        
        <div class="linea" ></div>
    
        <div>
           <input class="text_fecha" type="date" name="numerico" placeholder="Fecha de nac.">
        </div>

        </div>
    
    </aside>

    <aside class="caja_tel">

        <div class="num_tel" >

        <div class="tel" >
        <img  class="telefono" src="assets/img/registro/icono_tel.png" alt="telefono">
        </div>
        
        
        <div class="linea" ></div>
    
        <div>
            <input class="text_tel" type="tel" name="numerico" placeholder="Número de tel.">
        </div>

        </div>
    
    </aside>

    <aside class="caja_usuario">

        <div class="mail_usuario" >

        <div class="usuario" >
        <img  class="usuario_mail" src="assets/img/registro/icono_usuario.png" alt="e_mail">
        </div>
        
        
        <div class="linea" ></div>
    
        <div>
            <input class="text_usuario" type="text" name="texto" placeholder="Nombre de usuario o mail">
        </div>

        </div>
    
    </aside>

    <aside class="caja_contraseña">

        <div class="ing_contra" >

        <div class="contraseña" >
        <img  class="contra" src="assets/img/registro/icono_contraseña.png" alt="contraseña">
        </div>
        
        
        <div class="linea" ></div>
    
        <div>
            <input class="text_contraseña" type="password" name="password" placeholder="Ingresá una contraseña">
        </div>

        </div>
    
    </aside>

    <aside class="caja_condiciones">

        <div class="cond" >

        
        <div>
            <p class="text_cond"> Leer condiciones </p>
        </div>

        </div>
    
    </aside>

    <aside class="caja_aceptacion">

            

        <div class="acepto" >

        <div>
            <p class="text_acepto">Acepto las <br> condiciones</p>
        </div>

        <div><input class="check" type="checkbox"> </div>
    

        </div>

        
    </aside>

    <aside class="caja_registrarme">

            

        <div class="registrarme" >

        <p class="text_registrarme" > Registrarme </p>    

        <input class="boton_registrarme"  type="button" name="boton" >
    

        </div>

        
    </aside>

    <aside class="caja_ingresa">

            

        <div class="ingresa_aqui" >

        <p class="text_ingresa" > Ingresá <br> aquí </p>    

        <input class="boton_ingresa"  type="button" name="boton" >
    

        </div>

        
    </aside>

    <aside class="caja_tengocuenta">

            

        <div class="tengo_cuenta" >

        <div>
            <p class="text_tengocuenta">¿Ya tenés una cuenta?</p>
        </div>

        
    

        </div>

        
    </aside>

</aside>

<aside class="caja_cody">


    <div>
        <img class="cody" src="assets/img/usuario/cody.png" alt="cody">
    </div>

    <div class="circulo" ></div>


</aside>

</aside>

   


    

    


  


  
</body>

</html>